---
import DefaultPageLayout from "$/layouts/default.astro";
import PostPreviewList from "$components/PostPreviewList.astro";
import HeroContent from "$components/HeroContent.astro";
import Paginator from "$components/Paginator.astro";
import { getSettings, getAllPosts } from "$/utils/api";
import type { Post } from "$/types";
export type Props = {
  page: {
    data: Post[];
    url: {
      prev?: string;
      next?: string;
    };
  };
};

export async function getStaticPaths({ paginate }) {
  const { posts } = await getAllPosts({ include: "authors,tags" });
  return paginate(posts, {
    pageSize: 5,
  });
}
const { settings } = await getSettings();
const title = settings.title;
const description = settings.description;
const { page } = Astro.props as Props;
---

<DefaultPageLayout
  content={{ title, description }}
  settings={settings}
  bodyClass={"home-template"}
>
  <HeroContent
    mainTitle={"Archives"}
    description={"All the posts"}
    featureImg={settings.cover_image}
    settings={settings}
    addClass={"hero-cta bg-gradient"}
  >
    <h1 class="site-title" slot="title">Archives</h1>
  </HeroContent>

  <main id="site-main" class="site-main outer">
    <div class="inner posts">
      <PostPreviewList posts={page.data} settings={settings} />
      <Paginator {page} />
    </div>
  </main>
</DefaultPageLayout>
