---
import { getGhostImgPath } from "$/utils";
const { tag, addClass = "", settings } = Astro.props;
---

<a
  href={`/tag/${tag.slug}`}
  title={tag.name}
  aria-label={tag.name}
  class={`tag-card ${addClass ? addClass : ""}`}
  style={tag.accent_color ? `--color-accent:${tag.accent_color}` : ""}>
  {tag.feature_image && (
  <div class="tag-card__media">
      <img class="tag-card__img lazyautosizes lazyloaded" 
        data-srcset={`
          ${getGhostImgPath(settings.url, tag.feature_image, 100)} 100w,
          ${getGhostImgPath(settings.url, tag.feature_image, 300)} 300w
        `}
        srcset={`
          ${getGhostImgPath(settings.url, tag.feature_image, 100)} 100w,
          ${getGhostImgPath(settings.url, tag.feature_image, 300)} 300w
        `}
        data-sizes="auto" 
        data-src={getGhostImgPath(settings.url, tag.feature_image, 300)}
        src={getGhostImgPath(settings.url, tag.feature_image, 300)} 
        alt={tag.name} sizes="200px"
      >
    </div>  
  )}
  <div
    class={`tag-card__content flex flex-cc ${tag.feature_image ? "is-abs" : ""}`}>
    <h4 class="tag-card__name flex-1">{tag.name}</h4>
    {tag.count && <span class="tag-card__count">{tag.count.posts}+ Posts</span>}
  </div>
</a>

<style lang="scss">
  .tag-card {
    text-align: center;
  }
</style>
